
.thCell{
  width:48%;
  background-color:  lightgrey;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding: 10px;
}
.iconDelete{
  cursor: pointer;
}